header{
  font-family: 'Merriweather', serif;
  text-align: center;
  font-size: 1.75rem;
  color: black;

}

header, footer {
  padding: 10px;

}
section {
  border: 1px solid black;
  color: black;

}

#forecast{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  align-items: center;
  text-align: center;
  color: black;


}

h3{
  background-color: #ffd11a ;
  padding: .75em;
  color: black;

}


/* Media Query for medium + screens */
@media only screen and (min-width: 700px) {



  /* Desktop Views ****************************/
  @media only screen and (min-width: 1000px) {

  }}
